/* =================================================starting css=================================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.font-roboto {
    font-family: "Roboto Slab", serif;
}

.main {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}



@media (max-width:1024px) {
    .position_lg_unset {
        position: unset !important;
    }
    .box-shadow-width{
        width: 209px !important;
        height: 161px !important;
    }
    .top_-121{
        top: -121% !important;
    }
    .top-7{
        top: 7% !important;
    }
    .top_-84{
        top: -84% !important;
    }
    .top-16{
        top: 16% !important;
    }
    .top_-73{
        top: -73%;
    }
}

@media (max-width:991.98px) {
    .position_lg_unset {
        position: unset !important;
    }

    .sec-2-img-shadow {
        left: 34px;
        top: 10px;
        max-width: 300px;
        z-index: -1;
        height: 300px;
    }

    .sec-1-main {
        padding-top: 60px;
    }

    .sec5-col-img-w {
        max-width: 606px;
        max-height: 440px;
        object-fit: cover;
        background-size: cover;
        padding-bottom: 35px;
    }

    .sec-2-card {
        border: 1px solid #D4D7D7;
        padding-top: 34px;
        padding-left: 27px;
        padding-right: 27px;
        padding-bottom: 31px;
        max-width: 364px;
        min-height: 379px;
        width: 100%;
        border-radius: 8px;

    }

    .sec_3_para {
        font-size: 16px;
        font-weight: 300;
        line-height: 175%;
        text-align: left;
        max-width: unset;
        color: #4D4D4D;
    }

    .sec_4_pera {
        font-family: 'Roboto Slab', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 175%;
        text-align: left;
        color: #4d4d4d;
        padding-bottom: 12px;
        max-width: unset;

    }

    .cross {
        position: absolute;
        left: 4%;
        top: 12%;
    }


    .bg-shadow {
        left: 150px;
        top: -70px;
        max-width: 500px;
        z-index: -1;
        height: 500px;
    }

    .sec-3-img-shadow {
        left: 200px;
        top: -120px;
        max-width: 500px;
        z-index: -1;
        height: 500px;
    }

    .mb-lg-68 {
        margin-bottom: 68px;
    }

    .pt-sm-131 {
        padding-top: 94px;
    }


    .search-img {
        max-width: 326.25px;
    }

    .sec_4_img {
        max-width: 319px !important;
        padding-bottom: 94px !important;
        width: 100%;
        position: relative;
    }


    .header {
        padding-top: 19px;
        padding-left: 34px;
        padding-right: 30px;
        padding-bottom: 18px;
    }


    .row {
        overflow: hidden;
    }

    .mt_lg_0 {
        margin-top: 0px !important;
    }

    .mb_lg_58 {
        margin-bottom: 58px !important;
    }

    .mb_lg_93 {
        margin-bottom: 93px !important;
    }

    .py-lg-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .py-lg-55 {
        padding: 45px 0px !important;
    }

    .circle-img {
        width: 74px !important;
        height: 74px !important;
        position: absolute;
        right: 0;
        bottom: 0;

    }

}

@media (max-width:768px) {
    .Time_line_Line {
        left: 12%;
    }

    .dot-img {
        top: -32px;
        right: -24px;
        z-index: -1;
        width: 106.46px;
        height: 88.7px;
    }

    .cross {
        position: absolute;
        left: 5%;
        top: 10%;
    }

    .bg-shadow {
        left: 50px;
        top: -70px;
        max-width: 500px;
        z-index: -1;
        height: 500px;
    }

    .sec-3-img-shadow {
        left: 47px;
        top: -120px;
        max-width: 500px;
        z-index: -1;
        height: 500px;
    }

    .sec5-col-img-w {
        max-width: 406px;
        max-height: 440px !;
        object-fit: cover;
        background-size: cover;
        padding-bottom: 35px;
    }

    .publish-btn {
        width: 198px;
        height: 38px;
        padding: 10px;
        border-radius: 65px;
        border: 2px transparent !important;
        background-color: #2A3739;
    }

    .sec-2-heading {
        color: #2A3739;
        margin-bottom: 55px;
        line-height: 130%;
        max-width: 808px;
        margin-top: 71px;
    }

    .sec-2-card {
        border: 1px solid #D4D7D7;
        padding-top: 34px;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 31px;
        min-height: 379px;
        width: 100%;
        border-radius: 8px;
    }


    .header {
        padding-top: 36px;
        padding-left: 34px;
        padding-right: 30px;
        padding-bottom: 18px;
    }

    .header-logo {
        width: 54px;
        height: 54px;
    }

    .sec_3_py-72 {
        padding-top: 72px !important;

    }

    .sec-2-card-img {
        max-width: 183px !important;
        margin-bottom: 10px;
        margin-bottom: 26px;
    }

}

@media (max-width:668px) {
    .sec-2-heading {
        color: #2A3739;
        margin-bottom: 55px;
        line-height: 130%;
        max-width: 808px;
        margin-top: 71px;
    }

    .sec_3_heading {
        font-weight: 900;
        line-height: 130%;
        text-align: left;
        color: #2A3739;
        max-width: 389px !important;
        padding-bottom: 20px;
        padding-top: 100px;
    }

    .sec-2-card-img {
        max-width: 183px !important;
        margin-bottom: 10px;
        margin-bottom: 26px;
    }

    .sec5-btn {
        font-family: "Roboto Slab", serif;
        font-weight: 700;
        line-height: 21.1px;
        max-width: 119px;
        font-size: 12px !important;
        height: 38px;
        text-align: center;
        padding: 10px;
        border-radius: 65px;
        background: rgba(79, 99, 103, 1);
        color: rgba(255, 255, 255, 1);
        transition: all 300ms linear !important;
    }

    .dot-img {
        top: -32px;
        right: -24px;
        z-index: -1;
        width: 106.46px;
        height: 88.7px;
    }

}


@media (max-width:576px) {
    .sec5-heading {
        text-align: center !important;
    }

    .sec-1-para {
        max-width: 250px;
    }

    .sec-1-main {
        padding-top: 0;
    }

    .cross {
        position: absolute;
        left: -2%;
        width: 37px;
        height: 42px;
        top: 161px;
    }
.box-btn {
    
    padding: 13px 55px !important;
    margin-bottom: 40px;
    transition: all 300ms linear;
}
    .arrow-img-2 {
        left: -12px;
        bottom: 53px;
        width: 5px;
    }

    .btn-gap {
        gap: 6px;
    }

    .min-vh-80 {
        min-height: 93vh;
    }

    .sec-1-heading {
        max-width: 277px;
    }

    .bg-shadow {
        left: 20px;
        top: 30px;
        max-width: 300px;
        z-index: -1;
        height: 300px;
    }

    .sec-2-img-shadow {
        left: 7px;
        top: 10px;
        max-width: 300px;
        z-index: -1;
        height: 300px;
    }

    .sec-2-card {
        border: 1px solid #D4D7D7;
        padding-top: 34px;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 31px;
        max-width: 286px;
        height: 379px;
        width: 100%;
        border-radius: 8px;
    }


    .sec-3-img-shadow {
        left: 50px;
        top: -70px;
        max-width: 300px;
        z-index: -1;
        height: 400px;
    }

    .dot-img {
        top: -14px;
        right: -10px;
        z-index: -1;
        width: 52.46px;
        height: 39.7px;
    }

    .circle-img {
        width: 44px !important;
        height: 41px !important;
        position: absolute;
        right: 0;
        left: unset;
        bottom: -54px;

    }

    .sec-2-heading {
        color: #2A3739;
        margin-bottom: 34px;
        line-height: 130%;
        max-width: 808px;
        margin-top: 71px !important;
    }


    .publish-btn {
        width: 184px;
        height: 38px;
        padding: 10px;
        font-size: 12px !important;
        border-radius: 65px;
        border: 2px transparent !important;
        background-color: #2A3739;
    }

    .header {
        padding-top: 36px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0px;
    }

    .header-logo {
        width: 32px;
        height: 32px;
    }

    .sec5-pera {
        font-family: "Roboto Slab", serif;
        font-size: 14px;
        text-align: center !important;
        padding-bottom: 32px;
    }

    .sec5-col-img-w {
        max-width: 355px !important;
    }

    .sec_3_py-72 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .sec-2-card-img {
        max-width: 183px !important;
        margin-bottom: 10px;
        margin-bottom: 26px;
    }

    .sec5-py {
        padding-top: 45px;
        padding-bottom: 38px;
    }

 

    .search-img {
        width: 100% !important;
    }

    .sec_3_para {
        font-size: 14px;
        max-width: 370px !important;
    }

    .faq-heading {

        padding-top: 75px !important;
        padding-bottom: 29px !important;
    }

    .m_sm_12 {
        margin: 12px;
    }

    .pb-sm-66 {
        padding-bottom: 66px !important;
    }

    .sec_4_heading {
        font-size: 26px;
    }

    .pt-sm-65 {
        padding-top: 65px !important;
    }

    .green {
        max-width: 1440px;
        height: 34%;
        width: 100%;
        top: 0;
        z-index: -1;
        border-radius: 0;
    }


    .sec_4_pera {
        font-size: 14px;
        max-width: 390px;
    }



    .heading {
        padding-top: 75px !important;
        padding-bottom: 29px !important;
    }

    .pb-sm-66 {
        padding-bottom: 66px !important;
    }


    .footer-logo-max-w {
        max-width: 100px !important;
    }

    .footer-logo-text {
        width: 160px !important;
        height: 25px !important;
    }

    .footer-btn {
        margin-top: 15px !important;
        padding: 8px 20px;
        font-size: 8px !important;
    }
    .pt-sm-35{
        padding-top: 35px !important;
    }

    .pb-sm-40 {
        padding-bottom: 40px !important;
    }


    .sec-1-img {
        max-width: 330px !important;
        height: 197px;
        width: 100%;
        border-radius: 8px;
    }

    .sec_3_py-72 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .sec5-py {
        padding-top: 45px;
        padding-bottom: 38px;
    }

 

    .sec_3_py-72 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .pt-sm-66 {
        padding-top: 66px !important;
    }


    .faq-heading {

        padding-top: 75px !important;
        padding-bottom: 29px !important;
    }

    .m_sm_12 {
        margin: 12px;
    }



    .pb-sm-66 {
        padding-bottom: 66px !important;
    }


    .pt-sm-65 {
        padding-top: 65px !important;
    }

    .sec_4_pera {
        font-size: 14px;
    }

    .Time_line_Line {
        height: 615px;
        left: 9% !important;
    }
    

    .faq-heading {

        padding-top: 75px !important;
        padding-bottom: 29px !important;
    }

    .pb-sm-66 {
        padding-bottom: 66px !important;
    } 

    .sec7-timeline-img {
        width: 76.87px !important;
        height: 83.98px !important;
    }
}

@media (min-width:992px) {
    .arrow-img {
        display: block;
        right: 7px;
        top: 106px;
    }

    .sec-2-card {
        min-height: 429px;
    }

    .pt-lg-70 {
        padding-top: 70px !important;
    }

    .publish-btn {
        width: 237px !important;
        height: 54px;
        padding: 10px;
        border-radius: 65px;
        border: 2px transparent !important;
        background-color: #2A3739;
    }

    .header-logo {
        width: 63px;
        height: 61px;
    }

    .position-lg-absolute {
        position: absolute;
    }

    .translate-middle-lg-y {
        transform: translateY(-50%);
    }


    .py-lg-67 {
        padding: 67px 0px;
    }

    .scroll-up-img {
        right: 17px;
        bottom: 22%;
        position: absolute;
        display: block;
    }

    .header {
        padding-top: 19px;

        padding-bottom: 18px;
    }

    .nav-btn {
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 14px;
        font-size: 16px !important;
        padding-bottom: 14px;
        width: 207px;
        height: 58px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .mt-120 {
        margin-top: 120px;
    }

    .hero-img {
        margin-top: 0;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .lg-max-w-715 {
        max-width: 715px;
    }

    .arrow-img-2 {
        display: none;
    }

    .container {
        max-width: 992px;
    }

    .sec-3 {
        padding-top: 179px;
    }

    .sec7-timeline-img {
        width: 136px !important;
        height: 105px !important;
    }

    .mt-40 {
        margin-top: -40px;
    }
}

@media (min-width:1200px) {
    .green {
        border-radius: 0px 10px 10px 0;
        max-width: 683px;
        height: 810px;
        z-index: -3;
        padding-left: 20px;
        top: 0;
        left: 0;
    }


    .sec-1-img {
        min-width: 715px !important;
        width: 100%;
        border-radius: 8px;
    }

    .container {
        max-width: 1140px !important;
    }

    .scroll-up-img {
        right: 17px;
        bottom: -27%;
        position: absolute;
        display: block;
    }

}

@media (min-width:1320px) {
    .translate-x {
        transform: translateX(-24px);
    }
}

/* =======================ending css================================= */


/* ============================================================ */
.flex-nowrap {
    flex-wrap: nowrap !important;
}

.max-w-419 {
    max-width: 419px;
}

.max-w-409 {
    max-width: 409px;
}

.mb-29 {
    margin-bottom: 29px;
}

.mt-120 {
    margin-top: 0px;
}

.pt-145 {
    padding-top: 145px;
}

.min-vh-70 {
    min-height: 70vh;
}

.pt-70 {
    padding-top: 70px;
}

.pt-130 {
    padding-top: 130px;
}

.pb-timeline {
    padding-bottom: 120px;
}

.px-38 {
    padding-left: 38px;
    padding-right: 38px;
}

/* ====================================================== */


.sec7-timeline-img {
    width: 136px;
    height: 105px;
}

.Time_line_bg_images {
    background-image: url("../images/webp/sec7-bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.max-w-877 {
    max-width: 877px !important;
}

.top_-60 {
    top: -60px !important;
}

.left-0 {
    left: 0 !important;
}

.timeline-smallscreen-size {
    width: 76px !important;
    height: 83px !important;
}

.white-space-nowrap {
    white-space: nowrap;
}

.left_44 {
    left: 44px !important;
}

.left_30 {
    left: 30px !important;
}

.top_50 {
    top: 50px !important;
}

.sec8_bg_color{
    background: #BBFFFF4D !important;
}
.mb_150 {
    margin-bottom: 150px !important;
}

.position_lg_absolute {
    position: absolute;
}

.left_-33 {
    left: -33px !important;
}

.mt_33 {
    margin-top: 33px !important;
}

.min-h-539 {
    min-height: 539px !important;
}

.background-color {
    background-color: #E7FBFB !important;

}

.bg-color {

    background-color: #BBCFCF;
}

.py-136 {
    padding-top: 136px !important;
    padding-bottom: 136px !important;
}

.card-main-heading {
    line-height: 119%;
}

.box-para {
    line-height: 131%;
    max-width: 269px;
    padding-top: 29px;
}



.gap-40 {
    gap: 40px !important;
}

.box-btn {
    padding: 15px 85px;
    margin-bottom: 40px;
    transition: all 300ms linear;
}

.btn-hover-2 {
    color: white;
    background-color: var(--fc-dark-green);
}

.btn-hover-1 {
    color: white;
    background-color: var(--fc-green);
}

.btn-hover-2:hover {
    color: white;
    border: 2px solid var(--fc-dark-green) !important;
    background-color: var(--fc-green);
}

.btn-hover-1:hover {
    color: white;
    border: 2px solid var(--fc-green) !important;
    background-color: var(--fc-dark-green);

}

.mb-38 {
    margin-bottom: 38px;
}

.tron-logo {
    top: 10%;
    left: 5%;
}

.half-circle {
    bottom: 10%;
    right: 5%;
}

.faq-heading {
    font-weight: 900;
    line-height: 59.35px;

    outline-color: rgba(42, 55, 57, 1);
    padding-top: 105px;
    padding-bottom: 47px;
}

.max-w-748 {
    max-width: 748px !important;
}

.opacity-80 {
    opacity: 80%;
}

.mb-9 {
    margin-bottom: 9px;
}

.pb-130 {
    padding-bottom: 130px !important;

}

.accordion-item:first-of-type {
    border-radius: 4px !important;
}

.accordion-button:not(.collapsed) {
    background-color: white !important;
    box-shadow: none !important;
}

.border-button {
    border: 1px solid #dee2e6 !important;

}

.border-none {
    border: none !important;
}

.plus-minus-btn:not(.collapsed) {
    color: #171717 !important;
}

.plus-minus-btn::after {
    background-image: url(../images/svg/plus.svg) !important;
}

.plus-minus-btn:not(.collapsed)::after {
    background-image: url(../images/svg/minus.svg) !important;
}

.footer_bg_img {
    background-image: url(../assets/images/webp/footer-bg-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.search-img {
    max-width: 545px;
    position: relative;
    border-radius: 100px;
}


.mb-80 {
    margin-bottom: 80px;
}

.sec_3_py-72 {
    padding-top: 72px;
    padding-bottom: 72px;
}


.pt-90 {
    padding-top: 90px;
}

.py-103 {
    padding-top: 103px !important;
    padding-bottom: 103px !important;
}

.footer_bg_img {
    background-image: url(/assets/images/webp/footer-bg-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-logo-max-w {
    max-width: 150px !important;
}

.accordion-button::after {
    background-size: auto !important;
    width: 9px !important;
    height: 23px !important;
    font-size: 0 !important;
}

.rotated-anima {
    position: relative;
    animation: rotate 10s infinite linear;
}

.max-w-155 {
    max-width: 155px !important;
}

.footer-logo-text {
    width: 206px !important;
    height: 25px !important;
}

.pt-42 {
    padding-top: 42px !important;
}

.footer-btn {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.1px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(136, 173, 174, 1);
    border-radius: 65px;
    padding: 18px 31px;
    transition: all 200ms linear;
    margin-top: 34px;
    margin-bottom: 33px;
    border: transparent !important;
}

.footer-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(136, 173, 174, 1);
    border: 2px solid rgba(136, 173, 174, 1);
}

.max-w-427 {
    max-width: 427px !important;
    /* margin: auto; */
}

.footer-link {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #b7bfc0;
    opacity: 60 !important;
    padding-top: 20px;
}

.border-top {
    border-top: 2px solid #738184 !important;
    width: 100%;
}

.accordion-button:not(.collapsed)::after {
    width: 9px !important;
    height: 5px !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}
.sec8_side-img{
    width: 53px;
}
.sec6_img{
    width: 136px;
    height: 105px;
}
.top_-10{
    top: -10%;
}
.top_-21{
    top: -21%;
}
.left_-32{
    left: -32%;
}
.left_-23{
    left: -23%;
}
@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }


    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.container {
    width: 100% !important;
    margin: 0px auto !important;
    padding: 0px 20px !important;
}

@media (max-width:1024px) {
    .position_lg_unset {
        position: unset !important;
    }
}

@media (max-width:1024px) {
    .position_lg_unset {
        position: unset !important;
    }

    .h-472 {
        height: 472px;
    }


    .bg-shadow {
        left: 120px;
        top: -70px;
        max-width: 500px;
        z-index: -1;
        height: 500px;
    }

    .sec-3-img-shadow {
        left: 77px;
        top: -120px;
        max-width: 500px;
        z-index: -1;
        height: 500px;
    }

    .mb-lg-68 {
        margin-bottom: 68px;
    }

    .pt-sm-131 {
        padding-top: 131px;
    }

    .pt-39 {
        padding-top: 39px;
    }

    .search-img {
        max-width: 326.25px;
    }

    .sec_4_img {
        max-width: 319px !important;
        padding-bottom: 94px !important;
        width: 100%;
        position: relative;
    }


    .header {
        padding-top: 19px;
        padding-left: 34px;
        padding-right: 30px;
        padding-bottom: 18px;
    }

    .Time_line_Line {
        height: 877px;
        width: 9px !important;
        background-color: #B8D8D8;
        left: 9%;
        top: 4% !important;

    }

    .row {
        overflow: hidden;
    }

    .mt_lg_0 {
        margin-top: 0px !important;
    }

    .mb_lg_58 {
        margin-bottom: 58px !important;
    }

    .mb_lg_93 {
        margin-bottom: 93px !important;
    }

    .py-lg-70 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .py-lg-55 {
        padding-top: 55px !important;
        padding-bottom: 55px !important;
    }


    .pb-timeline {
        padding-bottom: 0 !important;
    }
.top-20 {
    top: 20% !important;
}

.left_-3 {
    left: -3%;
}

}

@media (max-width:768px) {
    .Time_line_Line {
        left: 12%;
    }

    .dot-img {
        top: 12px;
        right: 24px;
        z-index: -1;
        width: 106.46px;
        height: 88.7px;
    }





    .left_md_-21 {
        left: -21px !important;
    }

    

}

@media (max-width:576px) {



    .dot-img {
        top: 7px;
        right: 10px;
        z-index: -1;
        width: 52.46px;
        height: 39.7px;
    }


    .faq-heading {

        padding-top: 75px !important;
        padding-bottom: 29px !important;
    }

    .m_sm_12 {
        margin: 12px;
    }

    .pb-sm-66 {
        padding-bottom: 66px !important;
    }


    .pt-sm-65 {
        padding-top: 65px !important;
    }

    .green {
        max-width: 1440px;
        height: 34%;
        width: 100%;
        top: 0;
        z-index: -1;
        border-radius: 0;
    }

.box {
    max-width: 330px !important;
    margin: auto;
}
.footer-link {
    
    padding-top: 5px;
    margin-bottom: 0px !important;
}


    .heading {
        padding-top: 75px !important;
        padding-bottom: 29px !important;
    }

    .pb-sm-66 {
        padding-bottom: 66px !important;
    }



    .footer-logo-max-w {
        max-width: 81px !important;
    }

    .footer-logo-text {
        width: 108px !important;
        height: 13px !important;
    }

    .footer-btn {
        padding: 8px 20px;
        font-size: 8px !important;
    }

    .pb-sm-40 {
        padding-bottom: 40px !important;
    }

    .pt-sm-66 {
        padding-top: 66px !important;
    }


    .faq-heading {
        padding-top: 75px !important;
        padding-bottom: 29px !important;
    }

    .m_sm_12 {
        margin: 12px;
    }

    .pb-sm-66 {
        padding-bottom: 66px !important;
    }


    .pt-sm-65 {
        padding-top: 65px !important;
    }


    .Time_line_Line {
        height: 608px;
        left: 10% !important;
    }

    .faq-heading {

        padding-top: 75px !important;
        padding-bottom: 29px !important;
    }

    .pb-sm-66 {
        padding-bottom: 66px !important;
    }
    .sec7-timeline-img {
        width: 76.87px !important;
        height: 75px !important;
    }

    .top-35 {
        top: -35% !important;
    }

    .left_-52 {
        left: -52px !important;
    }


}


@media (min-width:576px) {
    .container {
        max-width: 576px !important;
    }
}


@media (min-width:768px) {
    .container {
        max-width: 768px !important;
    }
}

@media (min-width:992px) {

    .pt-lg-70 {
        padding-top: 70px !important;
    }



    .lg-max-w-715 {
        max-width: 715px;
    }



    .container {
        max-width: 992px !important;
    }



}